# Mac必须忽略.DS_Store
.DS_Store

# 忽略大文件
*.grib
*.idx

# 忽略部分图片文件
*.tif
*.tiff
*.geotiff
*.bmp
*.svg

# 忽略所有压缩包
*.zip
*.rar
*.7z
*.tar.gz
*.tar
*.gz

# 忽略部分地理数据
*.shp

# 忽略所有文档文件
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

*.HDF

# 忽略某些文件夹（例如 output 和 temp）
# 忽略idea的配置文件目录
output/
temp/
.idea/